@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.light-mode {
	color: #111517;
	background-color: #fff;
}
.dark-mode {
	color: #fff;
	background-color: #202c37;
}
.app__container {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	background-repeat: repeat;
}
a {
	border-style: none;
	text-decoration: none;
}

.main__heading {
	text-align: center;
}

.option__text {
	text-align: center;
}

@keyframes country__search {
	form {
		color: #00897b;
	}
}

table th {
	padding: 15px 0;
}
.country__photo {
	width: 30%;
	padding: 5px 0;
	text-align: center;
}
.country__photo img {
	/* width: 40%; */
	width: 120px;
	height: 80px;
}
.country__name {
	width: 40%;
	margin: auto;
	text-align: center;
}
.country__region {
	width: 30%;
	margin: auto;
	text-align: center;
}
@media only screen and (max-width: 576px) {
	.form_search {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		width: 90%;
	}
	.form__search * {
		width: 80%;
		margin: 8px 0;
	}
	.nav-wrapper {
		flex-direction: column;
		gap: 20px;
	}
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #00897b;
}

input:focus + .slider {
	box-shadow: 0 0 1px #00897b;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.toggle-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	/* width: 15%; */
}
.nav-wrapper {
	display: flex;
	width: 100%;
	padding: 20px 10% 20px;
	justify-content: space-between;
	align-items: center;
}
.loader__frontpage {
	height: 50%;
	width: 80%;
	padding: 50px 0 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.loader {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loader__light {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
}
.loader__dark {
	border: 16px solid #f8f8f8; /* Light grey */
	border-top: 16px solid #00897b; /* Blue */
}
.table__link__dark {
	text-decoration: none;
	color: white;
	border: none;
}
.table__link__light {
	text-decoration: none;
	color: #111517;
	border: none;
}

.credits__window {
	width: 100%;
	padding: 15px 0;
	text-align: center;
	/* background-color: #4dd0e1;
	box-shadow: 5px 0 10px #333; */
	/* background-color: #4caf50; */
}
.credits__window__light {
	box-shadow: 5px 5px 10px 9px #ebe5e5;
	background: #fff;
}
.credits__window__dark {
	box-shadow: 5px 5px 10px 9px #2c3235;
	background: #2b3945;
}
.fa-heart {
	color: #f44336;
	/* color: #f44336; */
}
.credits__window h3 {
	display: flex;
	align-items: center;
	justify-content: center;
}
